{% extends 'base.html' %}
{% load user_filters %}
{% load thumbnail %}
{% block title %}
  {% if is_edit %}
    Редактировать запись
  {% else %}
    Добавить запись
  {% endif %}
{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="navbar navbar-light" style="background-color: lightskyblue">
        {% if is_edit %}
        Редактировать пост
        {% else %}
        Новый пост
        {% endif %}
      </div>
      <div class="card-body">
      {% include 'posts/includes/form.errors.html' %}
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'posts/includes/fields_In_form.html' %}
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary">
            {% if is_edit %}
              Сохранить изменения
            {% else %}
              Добавить новый пост
            {% endif %}
          </button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}